.container {max-width: 90em;}

@media only screen and (min-width: 34em) {
    .placeholder,
    .secondary{width: 50%; }
    
    .tertiary{width: 33%;}
}

@media only screen and (min-width: 54em) {
    .content{width: 66.66%;}
    .sidebar{width: 33.33%;}
    .secondary{width: 100%;}
}

@media only screen and (min-width: 76em) {
    .content{width: 58%;}
    .sidebar{width: 42%;}
    .secondary{width: 50%;}
}